# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. phython
2. R
3. Julia
4. SQL
5. Scala
6. Java
7. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. seaborn
5. TensorFlow
6. pyTorch
7. scipy
8. plotly

|Data Science Tools|
---------------------
|Jupitar Notebook|
|Rstudio|
|Spyder|
|Anaconda|
|google colab|
|power BI|
|Hadoop|
|D3.js|
|plotly|
|git|
|github/gitlab|
|IBM watson studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
result = 5 + 3
print(result)

8

In [4]:
result = 10 - 4
print(result)

6

In [6]:
result = 15 / 3
print(result)

5.0

In [7]:
result = 5 + 3 * 2
print(result)

11

In [13]:
(3*4)+5
#it is a simple arithmetic expression to mutiply then add integers

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

# exercise 3

 **objectives**

* Python
* R
* Julia
* Scala
* SQL

## author
Matiullah